*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
     --base-font-family-brand: TT Norms;
    --usage-font-family-brand: TT Norms Pro Condensed;
    --usage-type-body-medium-strong-font-family:TT Norms;
}
  body{
    background-color: white;
    margin:0px;
    padding:0px; 
  }
.layers{
    position:relative;
    z-index:0;
}
.bodypart{
    height:0px;
    margin-top:-64px;
    position:absolute;
}
.layerpart{
    -webkit-box-flex:1;
    flex-grow:1;
    border-bottom:1px solid #E7E7E7;
    z-index:400;
    border: none;
    margin-top: 16px;
}
.bannerstyle{
   position:relative;
 }
 .app-banner{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    padding:8px;
 }
.logoicon{
     color: #606060ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px ;
    font-weight:500 ;
    line-height: 20px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    text-align: left;;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.logosvg{
     color: #606060ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px ;
    font-weight:500 ;
    line-height: 20px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    text-align: left;;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
 .svg1{
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    flex-shrink:0;
 }
 .middlecontainer{
    -webkit-box-flex:1;
    flex-grow:1;
    overflow:hidden;
    flex-basis:100%;
 }
 .containerspan{
     color: #191919ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:16px ;
    font-weight:500 ;
    line-height: 22px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    text-align: left;;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.containerspan2{
    color: #606060ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px ;
    font-weight:500 ;
    line-height: 20px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    text-align: left;;
   text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    white-space: normal;
    margin: 0px;
    padding: 0px;
}
.containertext{
    color: #191919ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px ;
    font-weight:500 ;
    line-height: 20px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    text-align: left;;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    white-space: normal;
    margin: 0px;
    padding:0px;
}
 .bannertext{
    color: #191919ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:16px ;
    font-weight:700 ;
    line-height: 22px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    display: block;
    text-overflow: ellipsis; 
    max-width: 100%;
    overflow: hidden;                                              
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}  
.bannertext2{
    color: #606060ff;
    font-family: TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px ;
    font-weight:500 ;
    line-height: 20px;
    letter-spacing:-0.01px ;
    text-decoration:none ;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.stars{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.starstyle{
    margin:0px 2px 0px 0px;
}
.button1{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color:#eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff;
}
.openbtnn{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.openclass{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 79px;
    margin-top: 16px;
    z-index: 1;
}
.btnopen{
    flex: 1 1 0%;
    padding-right: 24px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    gap: 8px;
}
.spanbt1{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}
.styledspan{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.opentext{
    color:currentcolor; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px; 
}
.openbtn{
    color:#ffffff; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.ratings{
    margin-left:4px;
    color:#606060ff; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 0px 4px;
    padding: 0px;
}
.openbutton{
    flex-shrink: 0;
    align-self:center;
}
.openbuttontxt{
     color:#606060ff; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align:left;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.bannersection{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.banner{
    background-image: url(images/desktop.webp);
    height:550px;
    padding:0px 8px;
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    -webkit-box-pack: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banners{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.doordashicon{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}

.logocontainer{
    line-height:0;
}

.doordash{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.heading{
    font-weight: 900;
    font-size: 32px;
    text-align:center;
    color:#ffffff;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
@media screen and(max-width:768px){
    .heading{
        max-width:350px;
        letter-spacing:0px;
        font-size:22px;
        line-height:28px;
    }
}
.alltogether{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.together{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 24px;
}
/* .together .heading {
    font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&amp;";
} */
.searchbar{
    border-radius:32px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* border-radius:40px; */
    z-index:1;
    padding: 6px 16px;
    border: none;
    box-shadow: inset 0 0 0 1px #19191900 0px 2px 8px 0px #19191933;
    background-color: #ffffffff;
}
.searchicon{
    max-width:100%;
    margin-right:12px;
}
.searchd{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    pointer-events: none;
}
.searchinput{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    flex: 1 1 100%;
    display: flex;
    background: inherit;
    color: currentcolor;
    appearance: none;
    margin: 0px;
    padding: 0px;  
}
.searchout{
    max-width:100%;
    margin-right:0px;
}
.searchtext{
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0 12px 0 auto;
}
.searchbutton{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #191919ff;
    height: 40px;
    width: 40px;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.button2{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height:32px ;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius:9999px ;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color:#eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color:#ffffff ;
}
.button2span{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}
.button2text{
    font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 16px;
    text-align:center;
    color:rgb(255,255,255);
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
} 
.login{
    position: relative;
    max-width: 100%;
    margin: 16px 0px 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color:#ffffff;
    box-shadow: inset 0 0 0 1px #19191900 0px 2px 8px 0px #19191933 ;
    color: #191919ff;
}
.loginbutton{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding:0px 12px;
}
.logintext{
    color: currentcolor;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.alllogin{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.loginicon{
    flex-shrink:0;
}
.loginbtn{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.log-in{
    width: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.ContentContainer{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.promo{
    width:100%;
    margin:0px auto;
    flex:1 0 auto;
}
@media (max-width:767px){
    .promo{
        max-width:400px;
    }
}
.promosct{
    margin:20px 20px;
}
.promopart{
    border-radius:12px;
    border:1px solid #f1f1f1ff;
    padding:20px;
    background-color:#f7f7f7ff;
}
.promos{
    display:flex;
    text-align:left;
}
.promoicon{
    width: 60px;
    height: 60px;
    border-radius:12px ;
    border: 1px solid #f1f1f1ff;
    background-color: #ffffff;
    margin-right:8px ;
    padding: 8px;
}
.promotitle{
    max-width:100%;
    display:block;
}
.promotext{
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none; 
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.promotext2{
    margin-left:4px;
    color: #606060ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none; 
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;  
    margin-left:4px;
}
.promochild{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.imgicon{
    margin:0px 2px;
    flex-shrink:0;
}
.promotext3{
    margin-left:4px;
    color: #606060ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none; 
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 0px 4px;
    padding: 0px;  
}
.buttonn{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height:40px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius:9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff;
    margin-top:16px;
}
.btnspan{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}
.spanbtn{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.stylecontent{
   -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; 
}
.buttonntext{ 
    color: currentcolor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none; 
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.containers{
    max-width: 768px;
    margin: 0px auto;
}
/* .containerspart{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
    max-width: 100%;
    padding: 8px 8px;
} */
.containerpart{
    display: flex;
    width: 100%;
    min-width: 360px;
    flex-flow: row;
    padding:16px 16px;
}
.part{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.containercolumn{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
}
.image1{
   margin-right: 32px;
}
.image1 img{
    height: 88px;
    width:88px;
}
.text{
    max-width: 100%;
    display: block;
}
.containerbutton{
    border: 0px;
    padding: 0px;
    margin: 12px 0 0 0;
    outline: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.containertext1{
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    font-weight:700; 
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration:none; 
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.container1{
    margin-top:0px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight:500; 
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.containerbttext{
     color: #eb1700ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.containericon{
    flex-shrink:0;
}
.contpart{
    width:4px;
}
.customwrapper{
    display:flex;
    flex-direction:column;
    padding:20px;
    min-width:90%;
    -webkit-box-align:center;
    align-items:center;
    /* margin-bottom:-300px; */
    /* paddin-top:210px; */
}
.pizzahut{
    width:100%;
}
.pizza{
    width:100%;
    height:180px;
    object-fit:cover;
}
.contentpizza{
    /* text-align: left; */
    display:flex;
    flex-direction: column;
}
/* MARGIN-BOTTOM:-300 */
.pizzatitle{
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 20px 0px 0px;
    padding: 0px;
}
.pizzasubtitle{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.pizzatext{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.buttonspace{
    margin-top:20px;
}
.pizzabutton{
   position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height:32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color:#eb1700ff ;
    box-shadow: inset 0 0 0 1px #19191900;
    color:#ffffff; 
}
.pizzaspan{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding:0px 12px;
}
.junk{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.craves{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.btntext{
    color: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.dashpassing{
    background-color: rgb(254,241,238);
    padding-top:320px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
}
.doorpassimg{
    width:100%;
    height:180px;
    object-fit:cover;
}
.doorpass{
     text-align: left;
    display:flex;
    flex-direction: column;
}
.doorpasstitle{
    max-width:90%;
    margin-top:20px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    /* text-align: center; */
    display: block;
    margin: 20px 0px 0px;
    padding: 0px;
}
.doorpasstext{
    margin-top:10px;
     color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    /* text-align: center; */
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.doorpassbutton{
    margin-top:20px;
}
.doorpassbtn{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff;
}
.doorpassbtntext{
    color: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.grocery{
    background:url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png) center center / cover; 
    position: relative;
    height: 350px;
}
.grocerypart{
    background-color: rgba(30, 30, 30, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    place-content: center;
    text-align: center;
}
.grocerysubpart{
    -webkit-box-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}
.groceryheading{
    max-width:90%;
    margin-top:20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 20px 0px 0px;  
    padding: 0px;
}
.groceryspan1{
    margin-top:10px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.groceryspan2{
    margin-top:10px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.grocerybutton{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff;
}
.grocerybtnspan{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding:0px 12px;
}
.grocerybtntext{
    color: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width:100%;
    margin: 0px;
    padding: 0px;
}
.doorstep{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
}
.doorstepimg{
    width:100%;
    height:180px;
    object-fit:cover;
}
.convenience{
    /* text-align:left; */
    display:flex;
    flex-direction: column;
}
.doorsteptitle{
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 20px 0px 0px;
    padding: 0px;
}
.doorstepsubtitle{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.step{
    margin-top: 20px;
}
.stepbutton{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff; 
}
.stepbtn{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding:0px 12px;
    align-items: left;
}
.openlayout{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.openlay{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.openlayed{
    color: currentcolor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.opentxtlay{
    color: rgb(255,255,255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.searchstack{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}
.search-stack{
    border-radius: 12px;
}
.searchfield{
    width:100%;
}
.searchingbar{
    max-width:100%;
    display:block;
}
.searchhead{
    display:flex;
    min-height:40px;
}
.stepbtntext{
    color: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width:100%;
    margin: 0px;
    padding: 0px;
}
.scrollcontainer{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
}
.scrolltitle{
    text-align: center;
    max-width: 300px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
}
.scrollpart{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    /* width: 200px; */
    background-color: rgb(254, 241, 238);
}
.scrollsection{
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    /* width:400px; */
    -webkit-box-align: center;
    align-items: center;
}
.section1img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.scrollpart{
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.scrollheading{
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 20px 0px 0px;
    padding: 0px;
}
.scrollsubheading{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.additional{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight:700; 
    line-height: 18px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
}
.section1button{
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: inset 0 0 0 1px #19191900;
    color: #ffffff; 
}
.section1btn{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding:0px 12px;
}
.section1text{
    color: currentColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:700; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width:100%;
    margin: 0px;
    padding: 0px;
}
.subpart{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px 20px 20px;
    width: 100%;
}
.subparttext{
    text-align: center;
    max-width: 300px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
}
.subsection{
    padding-top:320px;
    
    background-color: rgb(254, 241, 238);
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
}
.sectionn{
   text-align:left;
   display: flex;
   flex-direction:column; 
}
.sectionheading{
    max-width: 90%;
    margin-top: 20px;
     color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight:700; 
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 20px 0px 0px;
    padding: 0px;
}
.sectionsubheading{
    margin-top:10px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 10px 0px 0px;
    padding: 0px;
}
.top3{
    width:100%;
    max-width:1130px;
    padding:24px 16px;
    margin:0px auto;
}
.topheading{
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    font-weight:700; 
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-bottom:20px;
    text-align:center;
}
.cityspan{
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.citytab{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-bottom: 3px solid #191919ff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ctab{
     box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-bottom: 3px solid #f1f1f1ff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cuisinespan{
    color: #606060ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:700; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.topsection{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}
.tablists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
}
.tablist{
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:500; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.Tabb{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.listimg{
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    display: block;
}
.see{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.seemore{
    margin-right:8px;
    color: #191919ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight:700; 
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.seebutton{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #f1f1f1ff;
    box-shadow: inset 0 0 0 1px #f1f1f1ff;
    color: #191919ff;
    height: 40px;
    width: 40px;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.contentss{
    width: 100vw;
    background-color: #191919ff;
    /* display: flex;
    flex-direction: row; */
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    padding:32px 0px;
}
.Io{
    width:1184px;
}
.footer{
    max-width: 1160px;
    padding:4px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    /* background-color:#191919ff; */
}
.footermain{
    text-align:center;
    padding-top:32px;
    padding-bottom:32px;
    flex:1 1 0%;
}
.footertitle{
    margin-bottom: 8px;
    color: rgb(255,255,255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight:500; 
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px 0px 8px;
    padding: 0px;
    text-align: center;
}
.footerparts{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap:5px;
}
/* .footerplaces{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
} */
.footerlist{
    color: #CCCCCC;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight:500; 
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration:none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align:center;
}
.footerpart{
    flex-direction:column;
    display:flex;
    -webkit-box-pack:justify;
    justify-content: space-between;
    gap:12px;
}
.appstore{
    flex:1 1 0%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap:10px;
}
.apps{
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; 
}
.getus{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.getting{
    display:flex;
    flex-direction:column-reverse;
}
.footerbottom{
    flex-direction: column-reverse;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 32px;
}
.tabparts {
      display: flex;
}
.logos{
    flex-wrap:nowrap;
    display:flex;
    -webkit-box-pack: center;
    justify-content:center;
}
.language{
   padding: 12px;
}
.languages{
    display:flex;
    min-height: 32px;
}
.languagepart{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 32px;
    z-index: 1;
    padding: 4px 12px;
    border: none;
    box-shadow: inset 0 0 0 1px #19191900;
    background-color: #f1f1f1ff;
}
.select{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: currentcolor;
    display: flex;
    background: inherit;
    appearance: none;
    flex:1 1 100%;
    width: 100%;
    padding: 0px;
    border: none;
    outline:none;
}
.langsvg{
    flex-shrink:0;
}
.dropdown{
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    height: 24px;
    max-height: 100%;
    min-height: 8px;
    pointer-events: none;
    background: transparent;
    bottom: 0px;
    margin: auto 0px;
}
.bottom{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap:wrap;
    margin:12px 0px 0px;
}
.bottomtext{
    color: rgb(196, 196, 196);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 500;
    line-height:18px;
    letter-spacing:-0.01px;
    text-decoration: none ;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
a{ 
    text-decoration: none;
}     
a{
    text-decoration: none;
    color: rgb(196,196,196);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01px;
    display: block;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    text-decoration: none;
    font-weight:500;
}